[submodule "development/code/phase-3-completing-assignment/python-p3-v2-final-project/python-p3-v2-final-project-template"]
	path = development/code/phase-3-completing-assignment/python-p3-v2-final-project/python-p3-v2-final-project-template
	url = https://github.com/jaysonshammah/python-p3-v2-final-project-template
